// =============================================================================
// Header
// =============================================================================
#navigation-container {
  padding-top: 75px;
  transition: padding 0.4s;
  z-index: 1;
  background-color: $body-background;
  &.sticky {
    position: sticky;
    top: 0;
    padding-top: 0;
    transition: padding 0.4s;
    .gradient-border {
      border-image-source: linear-gradient(to right, darken($gradient-border-start, 25), darken($gradient-border-end, 15));
    }
    .header-tags {
      padding: 3px 0;
      transition: padding 0.4s;
    }
  }
}

.gradient-border {
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, $gradient-border-start, $gradient-border-end);
  &.gradient-border-bottom {
    border-bottom: 1px solid $accent;
  }
  &.gradient-border-top {
    border-top: 1px solid $accent;
  }
}

.header-nav {
  display: block;
  //padding: 75px 0 20px;
  padding: 0px 0 20px;
  // border-bottom: 1px solid $accent; // uncomment for simple border
  transition: padding 0.4s, border-bottom-color 0.4s ease 0.4s;
  &.appeared {
    transition: padding 0.4s;
  }
}

.header-logo {
  display: inline-block;
  font-family: $montserrat; //$serif;
  font-display: block;
  font-size: 36px;
  font-weight: 100;
  color: $header-logo-color;
  text-decoration: none;
}

.header-links {
  float: right;
  padding: 0;
  margin: 15px 0 0;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    &:first-child {
      margin-left: 0;
    }
    a {
      font-size: 18px;
      color: $header-link-color;
      cursor: pointer;
      svg {
        width: 16px;
        height: 16px;
        fill: $header-link-color;
      }
      &:hover svg {
        fill: $header-link-color-hover;
      }
    }
  }
}

.header-tags {
  padding: 10px 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  // border-bottom: 1px solid $accent; // uncomment for simple border
  li {
    display:flex; //display: inline-block;
    
    align-items: center;

    padding-right: 10px;
    a {
      display: inline-block;
      color: $header-link-color;
      text-decoration: none;
      text-transform: uppercase;
      font-size:12px;
      &:hover {
        color: $header-link-color-hover;
      }
    }
  }
}

@include breakpoint(extra-small) {
  .header-nav {
    text-align: center;
  }

  #navigation-container {    
      &.sticky {
        .header-nav {
          padding-bottom:10px;
        }

        .header-links {
          margin:0;
        }      
      }    
  }

  .header-links {

    display: block;
    float: none;
    text-align: center;
    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .header-tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content:center;
    margin: 0;
    text-align: center;
    li {
      padding: 0 5px;
    }
  }
}